/*01 HEADER 800-325=============
================================*/

@media screen and (max-width:800px){
.header-menu ul li a{
    padding: 0 15px;
    color: #fff;
    font-size: 25px;
}
}
@media screen and (max-width:655px){
    .header-menu{
        width: 100%;
    }
    .header-menu ul{
        display: none;
        margin:0 auto!important;
        text-align: center;
    }
    a#pull{
        display: block;
        padding: 20px 0;
        position: relative;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        margin: 40px 0 0 0;
    }
    .header-menu ul li{
        width: 100%;
    }
     a#pull:hover{
        background: #eee;
    }
    a#pull span{
       position: absolute;
        color: red;
       right: 0;
        font-size: 35px;
        top: 10px;
    } 
}
/*01 HEADER 800-325=============
================================*/

/*02 HEADER 800-325=============
================================*/

@media screen and (max-width:800px){    
    .slider{
        padding: 150px 0;
    }
    .sup_lom{
      display: none;
    }
}
/*02 HEADER 800=================
================================*/

/*03 CONTENT====================
================================*/
@media screen and (max-width:656px){
    .col3 .col{
        width: 100%!important;
    }
}
/*03 CONTENT====================
================================*/

/*04 CENTER=====================
================================*/
@media screen and (max-width:656px){
    .col5 .col{
        width:50%!important;
    }
}
/*FOOTER-BOTT*/ 
@media screen and (max-width:800px){
    .lf_otz {
    float: left;
    width: 100%;
}
    .imags{
        width: 100%;
        text-align: center;
    }
    .imags img{
        display: block;
        margin: 0 auto;
    }
    .texts{
        width: 98%;
        margin-top: 30px;
        padding: 70px;
        z-index: 10;
    }
    
    .blocks::after, .blocks::before{
    top: -10px;
    left: 48%; 
    }
    .vid{
    width: 80%;
    display: block;
    margin: 0 auto;
    float: none;
}
}
@media screen and (max-width:426px){
    .blocks::after, .blocks::before{
    top: -10px;
    left: 45%; 
    }
}
@media screen and (max-width:426px){
    .imags img{
        display: block;
        margin: 0 auto;
        width: 70%;
    }
}
@media screen and (max-width:326px){
    .block::after, .block::before{
    top: -10px;
    left: 42%; 
    }
     .texts{
        width: 100%;
        margin-top: 30px;
        padding: 50px 10px;
        z-index: 10;
    }
}
/*FOOTER-BOTT*/ 

@media screen and (max-width:656px){
    .footer-top{
        overflow: hidden
    }
    .footer{
        width: 85%;
    }
}
@media screen and (max-width:326px){
     .footer{
        width: 100%;
    }
    .footer_bg{
        float: left!important;
    }
}

/*11 MODALS 1024px===================
=====================================*/
@media screen and (max-width:1025px){
    .modal{
    position: relative;
    width: 60%!important;
    
    
    margin: 0 auto;
    background: #e6e6e6;
    text-align: center;
    padding: 20px 0 10px 0;
    position: fixed;
    
    top: 10px;
    left: 20% ;
    z-index: 1000;
    
    display: none;
}
    .modal textarea{
    width: 99%;
    margin-top: 20px;
    padding: 10px 0 0px 10px;
    margin-bottom: 10px;
}
}
@media screen and (max-width:768px){
    form  button{
        margin: 10px auto 0 auto;
    }
    a.btn{
    font-size: 48px;
    position: absolute;
    top: -10px;
    right: -100px;
    z-index: 1000;
    color: #b4b4b4;
}
}

@media screen and (max-width:425px){
    .modal{
        width: 80%!important;
        left: 10% ;
    }
    .modal form{
    width: 90%!important;
    margin: 0 auto;
}
     a.btn{
    font-size: 48px;
    position: absolute;
    top: -10px;
    right: 0px;
    z-index: 1000;
    color: #b4b4b4;
}
}
@media screen and (max-width:321px){
    form  button{
        padding: 15px 30px;
    }
}